{
    "env": {
        "test": {
            "presets": [
                ["env", { "modules": "commonjs" }]
            ]
        }
    },
    "plugins": [
        ["transform-runtime", {
            "polyfill": false,
            "regenerator": true
        }]
    ]
}